<!-- Header -->
<header class="bg-dark text-center py-5 mb-4">
        <div class="container">
          <h1 class="display-4 text-white" style="letter-spacing: 2px;" jhiTranslate="home.teamTitle">Meet the Team</h1>
        </div>
      </header>
      <!-- Page Content -->
      <div class="container">
        <div class="row">
          <!-- Team Member 1 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <a href="https://daviddelatorre.me" rel="Personal web">
             <div class="card border-0 shadow">
              <img src="../../content/images/profiles/perfil_david.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">David de la Torre</h5>
                <div class="card-text text-black-50" jhiTranslate="global.david">Team leader & DevOps Engineer</div>
              </div>
            </div>
            </a>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../content/images/profiles/perfil_josemary.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Jose María Márquez</h5>
                <div class="card-text text-black-50" jhiTranslate="global.josemary">Data Architect</div>
              </div>
            </div>
          </div>
          <!-- Team Member 3 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <a href="https://miguelangelantolin.com" rel="Personal web">
            <div class="card border-0 shadow">
              <img src="../../content/images/profiles/perfil_antolin.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Miguel Ángel Antolín</h5>
                <div class="card-text text-black-50" jhiTranslate="global.antolin">Spokesman & System administrator</div>
              </div>
            </div>
            </a>
          </div>

          <!-- Team Member 4 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../content/images/profiles/perfil_juan.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Juan de la Oliva</h5>
                <div class="card-text text-black-50" jhiTranslate="global.juan">Fron-end operations & Marketing</div>
              </div>
            </div>
          </div>
        </div>
    </div>
        <!-- /.row -->
              <!-- Page Content -->
      <div class="container">
        <div class="row">
          <!-- Team Member 5 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../content/images/profiles/perfil_pablo.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Pablo Pino</h5>
                <div class="card-text text-black-50" jhiTranslate="global.pablo">Web-Server Technologies Manager</div>
              </div>
            </div>
          </div>
          <!-- Team Member 6 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../content/images/profiles/perfil_julian.png" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Julián López</h5>
                <div class="card-text text-black-50" jhiTranslate="global.julian">Quality Assurance Specialist</div>
              </div>
            </div>
          </div>
          <!-- Team Member 7 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../content/images/profiles/perfil_javier.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Francisco Javier Marín</h5>
                <div class="card-text text-black-50" jhiTranslate="global.javier">StartUs representative & Test Engineer</div>
              </div>
            </div>
          </div>
          <!-- Team Member 8 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../../content/images/profiles/perfil_felipe.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Felipe Trinidad</h5>
                <div class="card-text text-black-50" jhiTranslate="global.felipe">Security Expert</div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
      <!-- Page Content -->
      <div class="container">
            <div class="row">
              <!-- Team Member 9 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="../../content/images/profiles/perfil_alfonso.jpeg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alfonso Alarcón</h5>
                    <div class="card-text text-black-50" jhiTranslate="global.alfonso">Applitacion Developer</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 10 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="../../content/images/profiles/perfil_frankie.jpeg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Francisco J. Elena</h5>
                    <div class="card-text text-black-50"jhiTranslate="global.frankie">Data Base Manager</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 11 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="../../content/images/profiles/perfil_jesus.jpeg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Jesús Torres</h5>
                    <div class="card-text text-black-50" jhiTranslate="global.jesus">Network Manager</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
