
<h3 class="text-center" style="align-content: center; color: #343F4B; font-size: 32pt ;margin-top: 50px; letter-spacing: 	 0.6px;">Find a band that wants to exchange a concert and just play!</h3></div>
<br>

<p  class="text-center" style="margin-top: -10px;align-content: center; font-size: 12pt; color: #47525E; word-spacing: 0.35px; letter-spacing: 0.35px;">Pick where do you want to play and which one is your style.</p>




<!--Boton de ciudad -->

<jhi-band-detail></jhi-band-detail>
<jhi-collaboration-update [bands]="bands" [collaboration]="collaboration" ></jhi-collaboration-update>

<br>






<!--  ________________Footer______________________  -->



</body>
</html>

