/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/logo-musicroad.png') no-repeat center;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/logo-musicroad.png') no-repeat center;
        background-size: contain;
    }
    .parallax {
        background-attachment: scroll;
    }
    .parallax_foc {
        background-attachment: scroll;
    }
}
.parallax {
    /* The image used */
    background-image: url('../../content/images/worldvect.png');

    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax_foc {
    /* The image used */
    background-image: url('../../content/images/spotlights.png');

    /* Set a specific height */
    height: 450px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 700px) {
    .parallax {
        background-attachment: scroll;
        /* margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw); */
    }
    .parallax_foc {
        background-attachment: scroll;
        margin-top: calc(50% - 70vw);
        margin-bottom: -15%;
        /* margin-bottom: calc(50% - 80vw); */
    }
}
