<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-city-heading" jhiTranslate="musicroadApp.city.home.createOrEditLabel">Create or edit a City</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!city.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="city.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="musicroadApp.city.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" required #name = "ngModel" pattern="[A-Za-z]*"
                        [(ngModel)]="city.name" />
                        <div *ngIf="name.dirty && name.invalid">
                            <small class="form-text text-danger" *ngIf="name.errors.required"
                                jhiTranslate="musicroadApp.city.messages.validate.name.required">
                                Your city name is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="name.errors.pattern"
                                jhiTranslate="musicroadApp.city.messages.validate.name.pattern">
                                Your city name can only contain letters.
                            </small>
                        </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="musicroadApp.city.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country" required #country="ngModel" pattern="[A-Z]*"
                        [(ngModel)]="city.country" />
                        <div *ngIf="country.dirty && country.invalid">
                            <small class="form-text text-danger" *ngIf="country.errors.required"
                                jhiTranslate="musicroadApp.city.messages.validate.country.required">
                                Your ccountry is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="country.errors.pattern"
                                jhiTranslate="musicroadApp.city.messages.validate.country.pattern">
                                Your country can only contain letters.
                            </small>
                        </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
