<div>
    <h2 id="page-heading" *ngIf="!fromSearcher">
        <span jhiTranslate="musicroadApp.band.home.title">Bands</span>
        <button *ngIf="false" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-band" [routerLink]="['/band/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="musicroadApp.band.home.createLabel">
            Create new Band
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="!fromSearcher">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'musicroadApp.band.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bands">
        <table class="table table-striped">
            <thead>
            <tr>
            <th *ngIf="false"><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="musicroadApp.band.bandName">Band Name</span></th>
                <th *ngIf="isDesktop" ><span jhiTranslate="musicroadApp.band.componentNumber">Component Number</span></th>
                <th *ngIf="isTablet" ><span jhiTranslate="musicroadApp.band.creationYear">Creation Year</span></th>
                <th *ngIf="isDesktop" ><span jhiTranslate="musicroadApp.band.genre">Genre</span></th>
                <!-- <th *ngIf="isDesktop" ><span jhiTranslate="musicroadApp.band.bio">Bio</span></th> -->
                <th *ngIf="isDesktop" ><span jhiTranslate="musicroadApp.band.picture">Picture</span> </th>
                <th *ngIf="isDesktop" ><span jhiTranslate="musicroadApp.band.city">City</span></th>
                <th *ngIf="isDesktop" ><span jhiTranslate="musicroadApp.band.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let band of bands ;trackBy: trackId">
                <td *ngIf="false"><a [routerLink]="['/band', band.id, 'view' ]">{{band.id}}</a></td>
                <td>{{band.bandName}}</td>
                    <td *ngIf="isDesktop">{{band.componentNumber}}</td>
                    <td *ngIf="isTablet">{{band.creationYear}}</td>
                    <td *ngIf="isDesktop" jhiTranslate="{{'musicroadApp.Genre.' + band.genre}}">{{band.genre}}</td>
                    <!-- <td *ngIf="isDesktop">{{band.bio}}</td> -->
                   <!-- <td *ngIf="isDesktop"><img [src]="band.coverPicture" [alt]="band.coverPicture" /></td>-->
                   <td *ngIf="isDesktop">
                        <img [src]="'data:' + band.coverPictureContentType + ';base64,' + band.coverPicture" style="max-height: 80px;" alt=""/>
                </td>
                    <td *ngIf="isDesktop">
                        <div *ngIf="band.city">
                            <a [routerLink]="['../city', band.city?.id, 'view' ]" >{{band.city?.name}}</a>
                        </div>
                    </td>
                    <td *ngIf="isDesktop">
                        {{band.user?.login}}
                    </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../collaboration-petition', band.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/band', band.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                *ngIf="false">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'band', { outlets: { popup: band.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm"
                                *ngIf="false">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
