	<div class="container" style="margin-top:30px">
		<div class="row">
			<div class="col-sm-3">
				<div class="text-center">
                    <h2>{{band.bandName}}</h2>
                <br>
                </div>
                <div class='img-round' *ngIf="band.coverPicture">
                    <div *ngIf="band.coverPicture">
                        <a (click)="openFile(band.coverPictureContentType, band.coverPicture)">
                            <img [src]="'data:' + band.coverPictureContentType + ';base64,' + band.coverPicture" style="max-width: 100%;" alt="band image"/>
                        </a>
                    </div>



      </div>



      <div style="margin-top:10px">
      <hr class="d-sm-none">
      </div>
    </div>

     <div class="col-sm-7" style="margin-left:70px">
<div class="row">
        <div class="col-md-6" style="margin-top:100px">
            <label><dt><span jhiTranslate="musicroadApp.band.bandName">Band Name</span></dt></label>
        </div>
        <div class="col-md-6" style="margin-top:100px">
            <p><b>{{band.bandName}}</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label><dt><span jhiTranslate="musicroadApp.band.city">City</span></dt></label>
        </div>
        <div class="col-md-6">
            <p><b><div *ngIf="band.city">
                <a [routerLink]="['/city', band.city?.id, 'view']">{{band.city?.name}}</a>
            </div></b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <dt><span jhiTranslate="musicroadApp.band.genre">Genre</span></dt>
        </div>
        <div class="col-md-6">
            <p><b><span jhiTranslate="{{'musicroadApp.Genre.' + band.genre}}">{{band.genre}}</span></b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label> <dt><span jhiTranslate="musicroadApp.band.componentNumber">Component Number</span></dt></label>
        </div>
        <div class="col-md-6">
            <p><b>{{band.componentNumber}}</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label> <dt><span jhiTranslate="musicroadApp.band.bio">Bio</span>:</dt></label>


            <p>{{band.bio}}</p>
            </div>

    </div>
    </div>
    </div>
	</div>

<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="band">


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/band', band.id, 'edit']"
                    class="btn btn-primary"
                    *ngIf="user.authorities.includes('ROLE_ADMIN') || user.id === band.user.id">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
